@import "https://rsms.me/inter/inter.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  *:focus-visible {
    @apply outline outline-pink-500;
  }
}

mb-16 .animated-bg {
  -webkit-animation: bg-position 20s ease infinite;
  -moz-animation: bg-position 20s ease infinite;
  -o-animation: bg-position 20s ease infinite;
  animation: bg-position 20s ease infinite;
}

@-webkit-keyframes bg-position {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bg-position {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes bg-position {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes bg-position {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.bg-gradient {
  background: linear-gradient(to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770);
}

.animated-gradient-shadow {
  position: relative;
  background: hsl(0, 0%, 100%);

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770);
    background-size: 200% 200%;
    animation: animateGlow 2s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}
