@import "./inter.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 274.13 53.69% 60.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 216.4 17.3% 31.8%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 240 5.9% 90%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --grafana-blue: 211.22 67.89% 57.25%;
  --grafana-purple: 274.13 53.69% 60.2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 274.13 53.69% 60.2%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --grafana-blue: 211.22 67.89% 57.25%;
    --grafana-purple: 274.13 53.69% 60.2%;
  }
}

html {
  scroll-behavior: smooth;
  font-weight: 350;
  letter-spacing: -0.01em;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  tab-size: 2;
  scroll-padding-top: 128px;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.linear-gradient-mask {
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
}

.inverted-radial-gradient-mask {
  mask-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  -webkit-mask-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.radial-gradient-mask {
  mask-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  -webkit-mask-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Hide details marker */
details.popover>summary:first-of-type {
  list-style-type: none;
}

/* Hide details marker in Safari */
details.popover summary::-webkit-details-marker {
  display: none;
}

/* Animate details element */
@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translate(var(--tw-translate-x), -0.5em));
  }
}

details[open]>*:not(summary) {
  animation: details-show 150ms ease-in-out;
}

/* Proper spacing list */
main ul:not(.list-none) li::marker {
  content: '•   '
}

/* TODO links */
a[href="#todo"] {
  text-decoration: line-through;
  /* Uncomment for production build */
  display: none;
}
